Flask==3.0.3
Flask-Cors==4.0.1
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
python-dotenv==1.0.1
pymongo==4.8.0
dnspython==2.7.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
joblib==1.4.2
gunicorn==23.0.0
